<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_item.name %>
</p>

<%= link_to 'Edit', edit_property_item_path(@property_item) %> |
<%= link_to 'Back', property_items_path %>
